            <div id ="main_sidebarx" class="navbar-default sidebar" role="navigation" style="position: fixed;">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/client-order"><i class="fa fa-edit fa-fw"></i> Client Order</a>
                        </li>
                        {{!-- <li>
                            <a href="/invoice"><i class="fa fa-edit fa-fw"></i> Invoice</a>
                        </li> --}}
                        <li>
                            <a href="/production"><i class="fa fa-edit fa-fw"></i> Production</a>
                        </li>
                        <li>
                            <a href="/purchase"><i class="fa fa-edit fa-fw"></i> Purchase</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cog fa-fw"></i> Stock<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/stock-raw-materials"><i class="fa fa-edit fa-fw"></i> Raw Material</a>
                                </li>
                                <li>
                                    <a href="/stock-finish-products"><i class="fa fa-edit fa-fw"></i> Finish Product</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cog fa-fw"></i> Master<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/clients"><i class="fa fa-edit fa-fw"></i> Clients</a>
                                </li>
                                <li>
                                    <a href="/suppliers"><i class="fa fa-edit fa-fw"></i> Suppliers</a>
                                </li>
                                <li>
                                    <a href="/raw-materials"><i class="fa fa-edit fa-fw"></i>Raw Materials</a>
                                </li>
                                <li>
                                    <a href="/finish-product"><i class="fa fa-edit fa-fw"></i>Finish Products</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cog fa-fw"></i> Setup<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/users"><i class="fa fa-edit fa-fw"></i> Users</a>
                                </li>
                                <li>
                                    <a href="/office"><i class="fa fa-edit fa-fw"></i> Office</a>
                                </li>
                                <li>
                                    <a href="/exchange-rate"><i class="fa fa-edit fa-fw"></i>Exchange Rate</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/logs"><i class="fa fa-edit fa-fw"></i> Logs</a>
                        </li>
                    </ul> 
                     
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>