<!DOCTYPE html>
<html lang="en">

{{> head}}
{{> css}}

<style>
    .col-md-6{
        width: 0%;
    }
    #dtTbl_pop{
        width: 100% !important;
    }
</style>
<body>

    <div id="wrapper">

        {{> navbar}}

        {{> sidenav}}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">CLIENT UPDATES</h3>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <form id="form_">
                        <div class="col-sm pull-right cancel">
                            <a href="/clients"  type="button" class="btn btn-outline btn-primary" id="btn_cancel">
                                <i class="fa fa-times"></i> Cancel
                            </a>
                        </div>
                        <div class="col-sm pull-right">&nbsp;</div>
                        <div class="col-sm pull-right">
                            <button type="submit" class="btn btn-outline btn-primary" id="btn_save"><i class="fa fa-save"></i> Save</button>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9 mb-3">
                                <label for="client_name">Client Name</label>
                                <input type="text" class="form-control" name="client_name" placeholder="Client Name" value="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9 mb-3">
                                <label for="address">Address</label>
                                <textarea class="form-control" name="address" placeholder="Address" value="" required></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4 mb-3">
                                <label for="state">State</label>
                                <input type="text" class="form-control" name="state" placeholder="State" value="" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="country">Country</label>
                                <select class="form-control selectpicker" id="sp_country" name="country" data-live-search="true">
                                    <option value="-">-</option>
                                    {{!-- {{#each __data_countries}}
                                        <option>{{name}}</option>
                                    {{/each}} --}}
                                     <option>AFGHANISTAN</option>
                                    <option>ÅLAND ISLANDS</option>
                                    <option>ALBANIA</option>
                                    <option>ALGERIA</option>
                                    <option>AMERICAN SAMOA</option>
                                    <option>ANDORRA</option>
                                    <option>ANGOLA</option>
                                    <option>ANGUILLA</option>
                                    <option>ANTARCTICA</option>
                                    <option>ANTIGUA AND BARBUDA</option>
                                    <option>ARGENTINA</option>
                                    <option>ARMENIA</option>
                                    <option>ARUBA</option>
                                    <option>AUSTRALIA</option>
                                    <option>AUSTRIA</option>
                                    <option>AZERBAIJAN</option>
                                    <option>BAHAMAS</option>
                                    <option>BAHRAIN</option>
                                    <option>BANGLADESH</option>
                                    <option>BARBADOS</option>
                                    <option>BELARUS</option>
                                    <option>BELGIUM</option>
                                    <option>BELIZE</option>
                                    <option>BENIN</option>
                                    <option>BERMUDA</option>
                                    <option>BHUTAN</option>
                                    <option>BOLIVIA, PLURINATIONAL STATE OF</option>
                                    <option>BOSNIA AND HERZEGOVINA</option>
                                    <option>BOTSWANA</option>
                                    <option>BOUVET ISLAND</option>
                                    <option>BRAZIL</option>
                                    <option>BRITISH INDIAN OCEAN TERRITORY</option>
                                    <option>BRUNEI DARUSSALAM</option>
                                    <option>BULGARIA</option>
                                    <option>BURKINA FASO</option>
                                    <option>BURUNDI</option>
                                    <option>CAMBODIA</option>
                                    <option>CAMEROON</option>
                                    <option>CANADA</option>
                                    <option>CAPE VERDE</option>
                                    <option>CAYMAN ISLANDS</option>
                                    <option>CENTRAL AFRICAN REPUBLIC</option>
                                    <option>CHAD</option>
                                    <option>CHILE</option>
                                    <option>CHINA</option>
                                    <option>CHRISTMAS ISLAND</option>
                                    <option>COCOS (KEELING) ISLANDS</option>
                                    <option>COLOMBIA</option>
                                    <option>COMOROS</option>
                                    <option>CONGO</option>
                                    <option>CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
                                    <option>COOK ISLANDS</option>
                                    <option>COSTA RICA</option>
                                    <option>CÔTE D&quot;IVOIRE</option>
                                    <option>CROATIA</option>
                                    <option>CUBA</option>
                                    <option>CYPRUS</option>
                                    <option>CZECH REPUBLIC</option>
                                    <option>DENMARK</option>
                                    <option>DJIBOUTI</option>
                                    <option>DOMINICA</option>
                                    <option>DOMINICAN REPUBLIC</option>
                                    <option>ECUADOR</option>
                                    <option>EGYPT</option>
                                    <option>EL SALVADOR</option>
                                    <option>EQUATORIAL GUINEA</option>
                                    <option>ERITREA</option>
                                    <option>ESTONIA</option>
                                    <option>ETHIOPIA</option>
                                    <option>FALKLAND ISLANDS (MALVINAS)</option>
                                    <option>FAROE ISLANDS</option>
                                    <option>FIJI</option>
                                    <option>FINLAND</option>
                                    <option>FRANCE</option>
                                    <option>FRENCH GUIANA</option>
                                    <option>FRENCH POLYNESIA</option>
                                    <option>FRENCH SOUTHERN TERRITORIES</option>
                                    <option>GABON</option>
                                    <option>GAMBIA</option>
                                    <option>GEORGIA</option>
                                    <option>GERMANY</option>
                                    <option>GHANA</option>
                                    <option>GIBRALTAR</option>
                                    <option>GREECE</option>
                                    <option>GREENLAND</option>
                                    <option>GRENADA</option>
                                    <option>GUADELOUPE</option>
                                    <option>GUAM</option>
                                    <option>GUATEMALA</option>
                                    <option>GUERNSEY</option>
                                    <option>GUINEA</option>
                                    <option>GUINEA-BISSAU</option>
                                    <option>GUYANA</option>
                                    <option>HAITI</option>
                                    <option>HEARD ISLAND AND MCDONALD ISLANDS</option>
                                    <option>HOLY SEE (VATICAN CITY STATE)</option>
                                    <option>HONDURAS</option>
                                    <option>HONG KONG</option>
                                    <option>HUNGARY</option>
                                    <option>ICELAND</option>
                                    <option>INDIA</option>
                                    <option>INDONESIA</option>
                                    <option>IRAN, ISLAMIC REPUBLIC OF</option>
                                    <option>IRAQ</option>
                                    <option>IRELAND</option>
                                    <option>ISLE OF MAN</option>
                                    <option>ISRAEL</option>
                                    <option>ITALY</option>
                                    <option>JAMAICA</option>
                                    <option>JAPAN</option>
                                    <option>JERSEY</option>
                                    <option>JORDAN</option>
                                    <option>KAZAKHSTAN</option>
                                    <option>KENYA</option>
                                    <option>KIRIBATI</option>
                                    <option>KOREA, DEMOCRATIC PEOPLE&quot;S REPUBLIC OF</option>
                                    <option>KOREA, REPUBLIC OF</option>
                                    <option>KUWAIT</option>
                                    <option>KYRGYZSTAN</option>
                                    <option>LAO PEOPLE&quot;S DEMOCRATIC REPUBLIC</option>
                                    <option>LATVIA</option>
                                    <option>LEBANON</option>
                                    <option>LESOTHO</option>
                                    <option>LIBERIA</option>
                                    <option>LIBYAN ARAB JAMAHIRIYA</option>
                                    <option>LIECHTENSTEIN</option>
                                    <option>LITHUANIA</option>
                                    <option>LUXEMBOURG</option>
                                    <option>MACAO</option>
                                    <option>MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
                                    <option>MADAGASCAR</option>
                                    <option>MALAWI</option>
                                    <option>MALAYSIA</option>
                                    <option>MALDIVES</option>
                                    <option>MALI</option>
                                    <option>MALTA</option>
                                    <option>MARSHALL ISLANDS</option>
                                    <option>MARTINIQUE</option>
                                    <option>MAURITANIA</option>
                                    <option>MAURITIUS</option>
                                    <option>MAYOTTE</option>
                                    <option>MEXICO</option>
                                    <option>MICRONESIA, FEDERATED STATES OF</option>
                                    <option>MOLDOVA, REPUBLIC OF</option>
                                    <option>MONACO</option>
                                    <option>MONGOLIA</option>
                                    <option>MONTENEGRO</option>
                                    <option>MONTSERRAT</option>
                                    <option>MOROCCO</option>
                                    <option>MOZAMBIQUE</option>
                                    <option>MYANMAR</option>
                                    <option>NAMIBIA</option>
                                    <option>NAURU</option>
                                    <option>NEPAL</option>
                                    <option>NETHERLANDS</option>
                                    <option>NETHERLANDS ANTILLES</option>
                                    <option>NEW CALEDONIA</option>
                                    <option>NEW ZEALAND</option>
                                    <option>NICARAGUA</option>
                                    <option>NIGER</option>
                                    <option>NIGERIA</option>
                                    <option>NIUE</option>
                                    <option>NORFOLK ISLAND</option>
                                    <option>NORTHERN MARIANA ISLANDS</option>
                                    <option>NORWAY</option>
                                    <option>OMAN</option>
                                    <option>PAKISTAN</option>
                                    <option>PALAU</option>
                                    <option>PALESTINIAN TERRITORY, OCCUPIED</option>
                                    <option>PANAMA</option>
                                    <option>PAPUA NEW GUINEA</option>
                                    <option>PARAGUAY</option>
                                    <option>PERU</option>
                                    <option>PHILIPPINES</option>
                                    <option>PITCAIRN</option>
                                    <option>POLAND</option>
                                    <option>PORTUGAL</option>
                                    <option>PUERTO RICO</option>
                                    <option>QATAR</option>
                                    <option>RÉUNION</option>
                                    <option>ROMANIA</option>
                                    <option>RUSSIAN FEDERATION</option>
                                    <option>RWANDA</option>
                                    <option>SAINT BARTHÉLEMY</option>
                                    <option>SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA</option>
                                    <option>SAINT KITTS AND NEVIS</option>
                                    <option>SAINT LUCIA</option>
                                    <option>SAINT MARTIN</option>
                                    <option>SAINT PIERRE AND MIQUELON</option>
                                    <option>SAINT VINCENT AND THE GRENADINES</option>
                                    <option>SAMOA</option>
                                    <option>SAN MARINO</option>
                                    <option>SAO TOME AND PRINCIPE</option>
                                    <option>SAUDI ARABIA</option>
                                    <option>SENEGAL</option>
                                    <option>SERBIA</option>
                                    <option>SEYCHELLES</option>
                                    <option>SIERRA LEONE</option>
                                    <option>SINGAPORE</option>
                                    <option>SLOVAKIA</option>
                                    <option>SLOVENIA</option>
                                    <option>SOLOMON ISLANDS</option>
                                    <option>SOMALIA</option>
                                    <option>SOUTH AFRICA</option>
                                    <option>SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
                                    <option>SPAIN</option>
                                    <option>SRI LANKA</option>
                                    <option>SUDAN</option>
                                    <option>SURINAME</option>
                                    <option>SVALBARD AND JAN MAYEN</option>
                                    <option>SWAZILAND</option>
                                    <option>SWEDEN</option>
                                    <option>SWITZERLAND</option>
                                    <option>SYRIAN ARAB REPUBLIC</option>
                                    <option>TAIWAN, PROVINCE OF CHINA</option>
                                    <option>TAJIKISTAN</option>
                                    <option>TANZANIA, UNITED REPUBLIC OF</option>
                                    <option>THAILAND</option>
                                    <option>TIMOR-LESTE</option>
                                    <option>TOGO</option>
                                    <option>TOKELAU</option>
                                    <option>TONGA</option>
                                    <option>TRINIDAD AND TOBAGO</option>
                                    <option>TUNISIA</option>
                                    <option>TURKEY</option>
                                    <option>TURKMENISTAN</option>
                                    <option>TURKS AND CAICOS ISLANDS</option>
                                    <option>TUVALU</option>
                                    <option>UGANDA</option>
                                    <option>UKRAINE</option>
                                    <option>UNITED ARAB EMIRATES</option>
                                    <option>UNITED KINGDOM</option>
                                    <option>UNITED STATES</option>
                                    <option>UNITED STATES MINOR OUTLYING ISLANDS</option>
                                    <option>URUGUAY</option>
                                    <option>UZBEKISTAN</option>
                                    <option>VANUATU</option>
                                    <option>VENEZUELA, BOLIVARIAN REPUBLIC OF</option>
                                    <option>VIET NAM</option>
                                    <option>VIRGIN ISLANDS, BRITISH</option>
                                    <option>VIRGIN ISLANDS, U.S.</option>
                                    <option>WALLIS AND FUTUNA</option>
                                    <option>WESTERN SAHARA</option>
                                    <option>YEMEN</option>
                                    <option>ZAMBIA</option>
                                    <option>ZIMBABWE</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="zipcode">Zipcode</label>
                                <input type="text" class="form-control" name="zipcode" placeholder="Zipcode" value="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4 mb-3">
                                <label for="txt_email">Email</label>
                                <input type="email" class="form-control" name="email" placeholder="Email" value="" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="txt_phone">Phone</label>
                                <input type="text" class="form-control" id="txt_phone" name="phone" placeholder="Phone" value="" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="fax">Fax</label>
                                <input type="text" class="form-control" name="fax" placeholder="Fax" value="" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="whatsapp">WhatsApp</label>
                                <input type="text" class="form-control" name="whatsapp" placeholder="WhatsApp" value="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4 mb-3">
                                <label for="activity">Activity</label>
                                <select class="form-control selectpicker" id="sp_activity" name="activity" data-live-search="true">
                                    <option value="-">-</option>
                                    {{#each _data_opp_act.data}}
                                        <option value={{id}}>{{pop_desc}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="ck_active" name="active">
                                <label class="form-check-label" for="ck_active">
                                    Active
                                </label>
                            </div>
                        </div>
                        <div class="form-group row invisible">
                            <div class="col-md-4 mb-3">
                                <label>Created by</label>
                                <input type="text" class="form-control" name="created_by" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Created Date</label>
                                <input type="text" class="form-control" name="created_date" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Updating by</label>
                                <input type="text" class="form-control" name="updated_by" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Updating Date</label>
                                <input type="text" class="form-control" name="updated_date" readonly>
                            </div>
                            <div class="col-md-4 mb-3 invisible">
                                <label>Id</label>
                                <input type="text" class="form-control" id="id" name="id" readonly>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
        {{!-- popup modal form --}}
        <!-- Modal -->
        
        <div class="modal fade" id="pop-modal-form" tabindex="-1" role="dialog" aria-labelledby="pop-modal-form" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">POPULATION - ACTIVITY</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form__">
                        <div class="form-group row">
                            <div class="col-md-12 mb-3">
                                <label>Activity Desc</label>
                                <input type="text" class="form-control" name="activity_desc" placeholder="Type New Activity Desc then click Save" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm pull-right">
                                <button type="submit" class="btn btn-outline btn-primary" id="btn_save_activity"><i class="fa fa-save"></i> Save</button>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="ck_active_pop" name="pop_active" checked="true">
                                <label class="form-check-label" for="ck_active_pop">
                                    Active
                                </label>
                            </div>
                        </div>
                        <div class="form-group row invisible" style="position: absolute;">
                            <div class="col-md-4 mb-3">
                                <label>Updating by</label>
                                <input type="text" class="form-control" name="updated_by" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Updating Date</label>
                                <input type="text" class="form-control" name="updated_date" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Id</label>
                                <input type="text" class="form-control" id="pop_id" name="pop_id" readonly>
                            </div>
                        </div>
                        <hr/>
                    </form>
                    <div class="form-group row">
                        <table id="dtTbl_pop" class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Id</th>
                                    <th>Activity Desc</th>
                                    <th>Active</th>
                                    
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    {{!-- <button type="button" clss="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                    <a href="#"  type="button" class="btn btn-outline btn-primary" id="btn_close" data-dismiss="modal">
                        <i class="fa fa-times"></i> Close
                    </a>
                    {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                </div>
                </div>
            </div>
        </div>
        {{!-- spinner --}}
        <div class="modal fade spinner-bg modal-popup" tabindex="-1" role="dialog" data-backdrop="false">
            <div role="document">
                <span class="fa fa-spinner fa-pulse fa-3x fa-fw loader-custom"></span>
                {{!-- <div class="row">
                    <div class="col-md-3">
                        <div class="loader" id="loader-4">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
               </div> --}}
            </div>
        </div>
    </div>
    
    <!-- /#wrapper -->
{{> scripts}}
{{!-- <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.js"></script>    
<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.css">     --}}
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap-select.js"></script>    
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap-select.css">    

</body>

</html>
