<!DOCTYPE html>
<html lang="en">

{{> head}}
{{> css}}
<body>

    <div id="wrapper">

        {{> navbar}}

        {{> sidenav}}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="page-header">Price List</h3>
                    </div>
                    <div class="col-sm">
                        <a href="/finish-product"  type="button" class="btn btn-outline btn-primary btfp">
                            <i class="fa fa-long-arrow-left"></i> Back to Finish Product
                        </a>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    </div>
   
    <!-- /#wrapper -->
{{> scripts}}
</body>

</html>
