<!DOCTYPE html>
<html lang="en">

{{> head}}
{{> css}}

<style>
    .col-md-6{
        width: 0%;
    }
    #dtTbl_pop{
        width: 100% !important;
    }
</style>
<body>

    <div id="wrapper">

        {{> navbar}}

        {{> sidenav}}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">PURCHASE LIST DETAILS</h3>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <form id="form_">
                        <div class="col-sm pull-right cancel">
                            <a href="/purchase"  type="button" class="btn btn-outline btn-primary" id="btn_cancel">
                                <i class="fa fa-times"></i> Cancel
                            </a>
                        </div>
                        <div class="col-sm pull-right">&nbsp;</div>
                        <div class="col-sm pull-right">
                            <button type="submit" class="btn btn-outline btn-primary" id="btn_save"><i class="fa fa-save"></i> Save</button>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2 mb-3">
                                <label for="purchase_date">Purchase Date</label>
                                <input type="text" class="form-control" name="purchase_date" id="purchase_date" placeholder="Purchase Date" autocomplete="off" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="purchase_code">Purchase Code#</label>
                                <input type="text" class="form-control" name="purchase_code" placeholder="Purchase Code#" value="" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="sp_supplier">Supplier</label>
                                <select class="form-control selectpicker" id="sp_supplier" name="supplier" data-live-search="true">
                                    <option value="-">-</option>
                                    {{#each __data_pop_supplier }}
                                        <option value={{id}}>{{pop_desc}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                             <div class="col-md-4 mb-3">
                                <label for="order_amt">Order</label>
                                <input type="text" class="form-control number-seperator" id ="order_amt" name="order_amt" placeholder="Order Amt" value="" required autocomplete="off">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="dp_amt">DP</label>
                                <input type="text" class="form-control number-seperator" id ="dp_amt" name="dp_amt" placeholder="DP Amt" value="" required autocomplete="off">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="to_pay_amt">To Pay</label>
                                <input type="text" class="form-control number-seperator" id ="to_pay_amt" name="to_pay_amt" placeholder="TO Pay Amt" value="" required autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4 mb-3">
                                <label for="delivered_amt">Delivered</label>
                                <input type="text" class="form-control number-seperator" id ="delivered_amt" name="delivered_amt" placeholder="Delivered Amt" value="" required autocomplete="off">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="to_be_delivered_amt">To Be Delivered</label>
                                <input type="text" class="form-control number-seperator" id ="to_be_delivered_amt" name="to_be_delivered_amt" placeholder="To Be Delivered Amt" value="" required autocomplete="off">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="balance_amt">Balance</label>
                                <input type="text" class="form-control number-seperator" id ="balance_amt" name="balance_amt" placeholder="Balance Amt" value="" required autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="ck_complete" name="active">
                                <label class="form-check-label" for="ck_complete">
                                    Complete
                                </label>
                            </div>
                        </div>
                        <div class="form-group row invisible">
                            <div class="col-md-4 mb-3">
                                <label>Created by</label>
                                <input type="text" class="form-control" name="created_by" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Created Date</label>
                                <input type="text" class="form-control" name="created_date" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Updating by</label>
                                <input type="text" class="form-control" name="updated_by" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Updating Date</label>
                                <input type="text" class="form-control" name="updated_date" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Id</label>
                                <input type="text" class="form-control" id="id" name="id" value="{{_pid}}" readonly>
                                <input type="text" class="form-control" id="act" name="acr" value="{{_act}}" readonly>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
        {{!-- popup modal form --}}
        <!-- Modal -->
        
        <div class="modal fade" id="pop-modal-form" tabindex="-1" role="dialog" aria-labelledby="pop-modal-form" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">POPULATION TABLE</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form__">
                        <div class="form-group row">
                            <input type="text" class="form-control invisible" name="txt_pop_type" id="txt_pop_id" style="position:absolute;" required readonly>
                            <div class="col-md-12 mb-3">
                                <label id="lbl_pf_desc">Product Family Desc</label>
                                <input type="text" class="form-control" name="pop_desc" placeholder="Type New Desc then click Save" value="" required>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm pull-right">
                                <button type="submit" class="btn btn-outline btn-primary" id="btn_save_pop"><i class="fa fa-save"></i> Save</button>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="ck_active_pop" name="pop_active" checked="true">
                                <label class="form-check-label" for="ck_active_pop">
                                    Active
                                </label>
                            </div>
                        </div>
                        <div class="form-group row invisible" style="position: absolute;">
                            <div class="col-md-4 mb-3">
                                <label>Updating by</label>
                                <input type="text" class="form-control" name="updated_by" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Updating Date</label>
                                <input type="text" class="form-control" name="updated_date" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Id</label>
                                <input type="text" class="form-control" id="pop_id" name="pop_id" readonly>
                            </div>
                        </div>
                        <hr/>
                    </form>
                    <div class="form-group row">
                        <table id="dtTbl_pop" class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Id</th>
                                    <th id="th_pop_desc">Product Family Desc</th>
                                    <th>Active</th>
                                    
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    {{!-- <button type="button" clss="btn btn-secondary" data-dismiss="modal">Close</button> --}}
                    <a href="#"  type="button" class="btn btn-outline btn-primary" id="btn_close" data-dismiss="modal">
                        <i class="fa fa-times"></i> Close
                    </a>
                    {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                </div>
                </div>
            </div>
        </div>
        {{!-- spinner --}}
        <div class="modal fade spinner-bg modal-popup" tabindex="-1" role="dialog" data-backdrop="false">
            <div role="document">
                <span class="fa fa-spinner fa-pulse fa-3x fa-fw loader-custom"></span>
                {{!-- <div class="row">
                    <div class="col-md-3">
                        <div class="loader" id="loader-4">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
               </div> --}}
            </div>
        </div>
    </div>
    
    <!-- /#wrapper -->
{{> scripts}}

</body>

</html>
